@import './index.scss';

.homeRecipes{
    &__container{
        min-height: 550px;
        width: 100%;
        background-color: lightgray;
    }
    &__recipes{
        display: flex;
        width: 100%;
        flex-flow: wrap;
    }
}