@import './index.scss';

.stars{
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &__star{
        background: $stars-base-color;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left:2px;
        transition:transform 0.1s;
        &.left{
            background: $primary-background;
        }
    }
}